:root{
    --font-s: 'Space Mono', monospace;
    --Strong-cyan: hsl(172, 67%, 45%);
 /* Neutral */
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Dark-grayish-cyan2: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Light-grayish-cyan2: hsl(189, 41%, 97%);
}

body{
    font-family: var(--font-s);
    margin: 0;
    background-color: var(--Light-grayish-cyan);
}



.container-buttonStuff{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-bottom: 1em;
}

.buttons{
    display: grid;
}

header{
    text-align: center;
}

main{
    max-width: 375px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    margin:0 auto;
}

main input{
    width: 92%;
    margin: 0 auto;
    margin-top: .5em;
    border: none;
    background-color: var(--Light-grayish-cyan2);
    height: 2em;
    text-align: right;
    font-size: xx-large;
    line-height: 0;
    padding-right: 10px;
}

p.heading{
    margin-bottom: 0;
    margin-top: 0;
}

.container-buttons{
    display: grid;
    grid-template-columns: 50% 50%;
    flex-wrap: wrap;
}

.btn{
    padding: .5em 1.5em;
    width: 40%;
    height: 35px;
    margin: .5em auto;
    border-radius: 5px;
    background-color: var(--Very-dark-cyan);
    text-align: center;
    color: white;
    cursor: pointer;
    line-height: 1.2;
    font-size: x-large;
}

.btn-highlight{
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
}

.btn-custom{
    height: 1.55em;
    margin: .5em;
    width: 85%;
    border-radius: 5px;
    padding: .60em 0;
    text-align: center;
    font-family: var(--font-s);
    font-size: x-large;
}

.container-result{
    background-color: var(--Very-dark-cyan);
    margin: 1rem 0;
    border-radius: 10px;
    color: white;
}

.container-result p{
    margin: .5em;
}

.result-grp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1em;
    padding: 1em 0;
}

#per-person-total-amount,
#per-person-tip-total{
    font-size: xx-large;
    color: var(--Strong-cyan);
}

.btn-reset{
    background-color: var(--Strong-cyan);
    color: var(--Very-dark-cyan);
    width: 60%;
}

@media (min-width: 700px){
    .container-buttonstuff{
        margin: 1em 1em;
        width: 50%;
    }
    .container-buttons{
        grid-template-columns: 33% 33% 33%;
    }

    .container-result{
        margin: 1em 1em;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    main{
        flex-direction: row;
        max-width: 1040px;
        border-radius: 15px;
    }
    .btn-custom{
        height: 1.55em;
    }
    .btn-reset{
        margin: auto;
    }
    
}